/* h2 {
    color: rgb(0, 255, 132);
}
h3 {
    color: rgb(61, 153, 125);
    width: 500px;
    height: 40px;
    background-color: #2b2b72;
    border: 300px;
    margin: 40px;
    bottom: 600px;

} */


div {
  background-color: lightblue;
}

p {
  background-color: yellow;
}
.birinchi_h1 {
  background-color: rgb(136, 242, 14);
  color: white;
  padding: 20px ;
}
.ikkinchi_h1 {
  background-color: rgb(11, 126, 226);
  color: rgb(12, 240, 12);
  padding:  10px 0px 10px 20px;
}